.Protime {
  form {
    padding: 30px;
    width: 700px;
    margin: 0 auto;
  }
  tfoot {
    font-weight: bold;
    td:nth-of-type(-n + 2) {
      padding: 0 10px;
    }
  }

  .config {
    :nth-child(n+1) {
      margin-left: 5px;
    }
    margin-bottom: 30px;
  }
}