.Protime {
  form {
    padding: 30px;
    margin: 0 auto;
  }

  div button {
    margin: 0;
  }

  table {
    table-layout: fixed;
  }

  tfoot {
    font-weight: bold;
    td:nth-of-type(-n + 2) {
      padding: 0 10px;
    }
  }

  td {
    div {
      padding: 0 5px;
    }
  }

  tr {
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5) {
      div {
        text-align: right;
        width: 60px;
      }
    }

    td:nth-of-type(1) input {
      min-width: 150px;
    }
    td:nth-of-type(2) input {
      width: 150px;
    }
  }

  .config {
    margin-bottom: 30px;
  }

  .invalid {
    color: #f44336;
  }
}
