.Protime {
  form {
    padding: 30px;
    width: 700px;
    margin: 0 auto;
  }
  tfoot {
    font-weight: bold;
    td:nth-of-type(-n + 2) {
      padding: 0 10px;
    }
  }

  td {
    div {
      padding: 0 5px;
    }
  }

  tr {
    td:nth-of-type(3),
    td:nth-of-type(4),
    td:nth-of-type(5) {
      div {
        text-align: right;
      }
    }
  }

  .config {
    :nth-child(n + 1) {
      margin-left: 5px;
    }
    margin-bottom: 30px;
  }

  .invalid {
    color: #f44336;
  }
}
